@model www.Models.LoginModel

@{
    ViewBag.Title = "Log in";
}

<section id="loginForm">
    <h2>Modern Media Contest Reporting Platform</h2>
    <p>Welcome to the <strong>Modern Media Contest Reporting Platform</strong>. Once successfully logged in you will be able to view and export contest reports based on the privileges of your account.</p>

    @using (Html.BeginForm(new { ReturnUrl = ViewBag.ReturnUrl })) {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)

        <fieldset>
            <legend>Log in Form</legend>
            <ol>
                <li>
                    @Html.LabelFor(m => m.UserEmail)
                    @Html.TextBoxFor(m => m.UserEmail)
                    @Html.ValidationMessageFor(m => m.UserEmail)
                </li>
                <li>
                    @Html.LabelFor(m => m.Password)
                    @Html.PasswordFor(m => m.Password)
                    @Html.ValidationMessageFor(m => m.Password)
                </li>
                <li>
                    @Html.CheckBoxFor(m => m.RememberMe)
                    @Html.LabelFor(m => m.RememberMe, new { @class = "checkbox" })
                </li>
            </ol>
            <input type="submit" value="Log in" />
        </fieldset>
    }
</section>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
